@{
    ViewBag.Title = "NewPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3" style="border:groove; max-width:700px; background-color:azure">
    <h2 style="font-family:'Times New Roman', Times, serif; text-align:center">Đổi mật khẩu</h2>

    <form method="post">
        <div class="mb-3" style="font-family: 'Times New Roman', Times, serif; font-size: large; color: orangered">
            <label for="pwd" class="form-label">Mật khẩu:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Nhập mật khẩu..." name="pswd" required>
            <div class="valid-feedback">Valid.</div>
        </div>

        <div class="mb-3" style="font-family: 'Times New Roman', Times, serif; font-size: large; color: orangered">
            <label for="new_pswd" class="form-label">Nhập lại mật khẩu:</label>
            <input type="password" class="form-control" id="new_pswd" placeholder="Nhập lại mật khẩu" name="new_pswd" required>
            <div class="invalid-feedback" id="confirm-password-error">
                Mật khẩu không khớp.
            </div>
        </div>


        <p style="color:red">@ViewBag.error</p>
        <div class="row">
            <div class="col-4">
                <a href="~/User/Profile" style="text-decoration:underline">Quay về</a>
            </div>
            <div class="col-6 "  style="margin-top:10px">
                <button type="button" class="btn btn-primary" onclick="DoiMatKhau()">Đổi mật khẩu</button>
            </div>
        </div>

        <p></p>
    </form>
</div>

<script>

    function validatePassword(password) {
        console.log("Check pass");
        var minLength = 8;
        console.log("Check password: " +password);


        if (password != "" && password.length >= minLength) {
            return true;
        } else {
            alert("Mật khẩu phải có ít nhất 8 ký tự.");
            return false;
        }
    }

    function validateConfirmPassword(password, confirmPassword) {
        console.log("Check confirmPassword: "+ confirmPassword);

        if (confirmPassword != "" && confirmPassword == password) {
            return true;
        } else {
            alert("Mật khẩu không khớp");
            return false;
        }
    }

    function DoiMatKhau()
    {
        var passwordInput = document.getElementById('pwd').value;
        var confirmPasswordInput = document.getElementById('new_pswd').value;


        if (validatePassword(passwordInput) == true && validateConfirmPassword(passwordInput, confirmPasswordInput) == true) {
            $.ajax({
                url: "/User/NewPassword",
                type: "POST",
                data: {
                    passwordInput: passwordInput
                },
                success: function (data) {
                    if (data) {
                        alert("Cập nhật mật khẩu thành công!")

                        // chuyển hướng view sang view lấy mật khẩu
                        window.location.href = '/User/Index';

                    } else {
                        alert("Cập nhật mật khẩu thất bại!")
                    }

                },
                error: function (xhr, status, error) {
                    alert("Thực hiện thất bại!");
                    console.error("AJAX error: " + status + ' ' + error);
                }
            });
        }
    }


</script>
