@model WebQuanLyThuVien.Models.LOGIN_DG

@{
    ViewBag.Title = "UpdatePassWord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-3" style="border:groove; max-width:700px; background-color:azure">
    <h2 style="font-family:'Times New Roman', Times, serif; text-align:center">Đổi mật khẩu</h2>

    <form method="post" >
        <div class="mb-3 mt-3" style="font-family: 'Times New Roman', Times, serif; font-size: large; color: orangered">
            <label for="uname" class="form-label">Tên đăng nhập:</label>
            <input type="text" class="form-control" id="uname" placeholder="Nhập tên đăng nhập..." name="uname" required>
            <div class="valid-feedback">Valid.</div>
        </div>

        <p style="color:red">@ViewBag.error</p>
        <div class="row">
            <div class="col-4">
                <a href="~/User/Index" style="text-decoration:underline">Quay về</a>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-primary" onclick="NhanOTP()" >Nhận OTP</button>
            </div>
        </div>

        <p></p>
    </form>
</div>


<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" id="otpModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color:orangered">Enter OTP</h5>
                <span aria-hidden="true">&times;</span>
            </div>
            <div class="modal-body">
                <!-- Form để nhập OTP -->
                <form id="otpForm">
                    <div class="form-group">
                        <label for="otpInput" style="font-weight:bold">OTP:</label>
                        <input type="text" class="form-control" id="otpInput" required>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="submitOTP()" style="margin-top:10px;">Submit OTP</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    function NhanOTP() {

        // Lấy giá trị từ ô input sử dụng JavaScript
        var username = document.getElementById("uname").value;
        console.log("username người dùng nhập" + username);

        $.ajax({
            url: "/User/UpdatePassWord",
            type: "POST",
            data:
            {
                uname: username
            },
            success: function (data) {
                if (data.success) {
                    // Mở modal nhập OTP
                    $('#otpModal').modal('show');
                } else {
                    alert("Sai tên đăng nhập! Vui lòng nhập lại");

                }
            },
            error: function (xhr, status, error) {
                alert("Đăng ký thất bại!");
                console.error("AJAX error: " + status + ' ' + error);
            }
        });
    }

    function submitOTP() {
        var enteredOTP = $('#otpInput').val();
        console.log("OTP người dùng nhập" + enteredOTP);


        $.ajax({
            url: "/User/XacNhanUpdatePassword",
            type: "POST",
            data: {
                OTPInput: enteredOTP
            },
            success: function (data) {
                if (data.success) {
                    // Nếu mã OTP hợp lệ, đóng modal
                    $('#otpModal').modal('hide');
                    console.log("Thành công lấy OTP");

                    // chuyển hướng view sang view lấy mật khẩu
                    window.location.href = '/User/NewPassword';

                } else {
                    alert(data.message)
                }

            },
            error: function (xhr, status, error) {
                alert("Thực hiện thất bại!");
                console.error("AJAX error: " + status + ' ' + error);
            }
        });
    }



</script>











@*<script>
    var passwordInput = document.getElementById('pwd').value.trim();
    var confirmPasswordInput = document.getElementById('new_pswd').value.trim();

    var validPassword = validatePassword(passwordInput);
    var validConfirmPassword = validateConfirmPassword(passwordInput, confirmPasswordInput);

    console.log("validPassword", passwordInput);
    console.log("validConfirmPassword", confirmPasswordInput);


    function validatePassword(password) {
        console.log("Check pass");
        var minLength = 8;
        var errorElement = document.getElementById('password-error');

        if (password !== "" && password.length >= minLength) {
            errorElement.style.display = 'none';
            return true;
        } else {
            errorElement.textContent = 'Mật khẩu phải có ít nhất 8 ký tự.';
            errorElement.style.display = 'block';
            return false;
        }
    }
    function validateConfirmPassword(password, confirmPassword) {
        console.log("Check repass");
        var errorElement = document.getElementById('confirm-password-error');

        if (confirmPassword !== "" && confirmPassword === password) {
            errorElement.style.display = 'none';
            return true;
        } else {
            errorElement.textContent = 'Mật khẩu không khớp.';
            errorElement.style.display = 'block';
            return false;
        }
    }
</script>*@
@*Hết form đăng nhập*@