
@{
    ViewBag.Title = "LoiPhanQuyen";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="container-fluid pt-4">
        <div class="alert alert-danger text-center" role="alert">
            <h4 class="alert-heading ">Bạn không có quyền truy cập vào trang này!</h4>
            <p style="color:lightgray;">Vui lòng liên hệ với quản trị viên để biết thêm chi tiết.</p>
        </div>
    </div>
</section>
