<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/Content/Clients/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">Thành Luân</a>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <!-- Dashboard -->
            <li class="nav-item">
                <a href="~/admin/home" class="nav-link">
                    @* active *@
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>

            <!-- Phiếu mượn -->
            <li class="nav-item">
                <a href="~/admin/phieumuon" class="nav-link">
                    <i class="nav-icon fas fa-chart-pie"></i>
                    <p>
                        Phiếu Mượn
                    </p>
                </a>
            </li>

            <!-- Phiếu trả -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tree"></i>
                    <p>
                        Phiếu trả
                    </p>
                </a>
            </li>

            <!-- Quản lý mượn, trả -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-copy"></i>
                    <p>
                        QLý Mượn, Trả
                        <i class="fas fa-angle-left right"></i>
                        @*<span class="badge badge-info right">6</span>*@
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="../layout/top-nav.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Mượn</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../layout/top-nav-sidebar.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Trả</p>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Quản lý Sách -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-copy"></i>
                    <p>
                        QLý Sách
                        <i class="fas fa-angle-left right"></i>
                        @*<span class="badge badge-info right">6</span>*@
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="../layout/top-nav.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Kho Sách</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../layout/top-nav-sidebar.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Nhập Sách</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../layout/top-nav-sidebar.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Thanh Lý Sách</p>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Quản lý độc giả -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tree"></i>
                    <p>
                        QLý Độc Giả
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="../UI/general.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Thẻ Độc Giả</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../UI/icons.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>T.Tin Độc Giả</p>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Xử lý đặc biệt -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-edit"></i>
                    <p>
                        Xử Lý Đặc Biệt
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="../forms/general.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Hạn Trả</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../forms/advanced.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Sách Hư Hỏng</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../forms/editors.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Hạn Thẻ</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-header">EXAMPLES</li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon far fa-calendar-alt"></i>
                    <p>
                        EXAMPLES
                        <span class="badge badge-info right">2</span>
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>